---
import { HeadingWithSubHeading } from './toc.astro';
import { Icon } from 'astro-icon';

type Props = {
  heading: HeadingWithSubHeading
}

const { heading } = Astro.props
---

<li>
  <a href={'#' + heading.slug}>
    <span class="block"></span>
    <span class="text">{heading.text}</span>
  </a>
  {
    heading.subheadings.length > 0 && (
      <ol>
        {heading.subheadings.map(subheading =>
          <Astro.self heading={subheading}/>
        )}
      </ol>
    )
  }
</li>

<style lang="scss">
  a {
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
  ol {
    padding-left: 0;
    list-style-type: none;
  }
  li {
    list-style-type: none;
    padding-top: 0;
    a .text {
      padding-block: 0.5rem;
    }

    li a {
      gap: 2rem;
      .text {
        padding-block: 0.2rem;
        :not(:first-of-type) {
          margin-top: 0.2rem;
        }
      }
    }
  }

  .block {
    display: block;
    width: 0.2em;
    background-color: var(--hl-2);
    flex-shrink: 0;
  }

</style>
