* {box-sizing: border-box;}
:root {
  font-family: system-ui, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}


body, .container {
  height: 100vh;
}

code, pre {
  font-family: 'Ubuntu Mono', 'Fira Mono', monospace;
}

pre.astro-code {
  padding: 1rem;
  border-radius: .5rem;
  code {
    font-family: inherit;
  }
}


.icon {
  --svg: url('/favicon.svg')
  font-style: normal;
  display: inline-block;
  width: 1em;
  aspect-ratio: 1/1;
  text-align: center;
  background-color: currentColor;
  mask-image: var(--svg);
  -webkit-mask-image: var(--svg);
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
}
