* {box-sizing: border-box;}
:root {
  font-family: system-ui, sans-serif;
  scroll-behavior: smooth;

  --radius: .5rem;

  --black-1: #282828;
  --black-2: #222;
  --white-1: #fff;
  --white-2: #f6f9f6;
  --jet: #2d2d2d;
  --darkblue: #242f40;
  --gold: #cca43b;
  --platinum: #e5e5e5;
  --blue: #00a7e1;

  --bg: var(--jet);
  --bg-2: var(--black-1);
  --bg-3: var(--black-2);
  --fg: var(--platinum);
  --fg-2: var(--white-1);
  --fg-3: var(--white-2);
  --hl-1: var(--gold);
  --hl-2: var(--blue);
  --hl-3: var(--darkblue);

  background-color: var(--bg);
  color: var(--fg);
}

body {
  margin: 0;
}


body, .container {
  height: 100vh;
}

pre {
  background-color: var(--bg-3) !important;
}

code, pre {
  font-family: 'Ubuntu Mono', 'Fira Mono', monospace;
}

pre.astro-code {
  padding: 1rem;
  border-radius: .5rem;
  code {
    font-family: inherit;
  }
}

svg[astro-icon] {
  fill: currentColor;
}

a {
  color: var(--hl-2);
}

.custom-icon {
  --svg: url('/favicon.svg')
  font-style: normal;
  display: inline-block;
  width: 1em;
  aspect-ratio: 1/1;
  text-align: center;
  background-color: currentColor;
  mask-image: var(--svg);
  -webkit-mask-image: var(--svg);
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
}
