---
import { MarkdownInstance } from 'astro';
import { Icon } from 'astro-icon';

type Props = {
  direction: 'previous' | 'next'
  doc: MarkdownInstance<any>
}

const { direction, doc } = Astro.props
---

<a href={doc.url} class="navigation-btn">
  <span class={ "nav-icon " + (
    direction == 'previous'
      ? "prev-navigation-btn"
      : "next-navigation-btn"
  )}>
    <Icon name="angle-right-solid" />
  </span>
  <strong>
    {doc.frontmatter.title || doc.url}
  </strong>
</a>

<style lang="scss">
  .navigation-btn {
    display: flex;
    gap: 1rem;

    span {
      width: 1ch;
      color: blue;
    }

    .prev-navigation-btn svg {
      rotate: 180deg;
    }

    .next-navigation-btn {
      order: 1;
    }

  }
</style>
