---
import { MarkdownInstance } from 'astro';
import { Icon } from 'astro-icon';

type Props = {
  direction: 'previous' | 'next'
  doc: MarkdownInstance<any>
}

const { direction, doc } = Astro.props
---

<a href={doc.url} class="navigation-btn">
  <span class={ "nav-icon " + (
    direction == 'previous'
      ? "prev-navigation-btn"
      : "next-navigation-btn"
  )}>
    <Icon name="angle-right-solid" />
  </span>
  <strong>
    {doc.frontmatter.title || doc.url}
  </strong>
</a>

<style lang="scss">
  .navigation-btn {
    text-decoration: none;
    padding: 1rem 2rem;
    background-color: var(--hl-1);
    color: var(--platinum);
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: color 200ms ease, background-color 200ms ease;

    &:hover, &:focus {
      background-color: var(--hl-3);
    }

    span {
      width: 2ch;
    }

    .prev-navigation-btn svg {
      rotate: 180deg;
    }

    .next-navigation-btn {
      order: 1;
    }

  }
</style>
