---
import { Icon } from 'astro-icon'
---
<toggle-btn>
  <input type="checkbox" id="trigger">
  <label for="trigger">
    <Icon name="mdi:menu" />
  </label>
</toggle-btn>

<script>

class ToggleBtn extends HTMLElement {
  isActive = null
  checkbox = this.querySelector('input')
  content = this.querySelector('label')
  constructor(
    isActive = false,
    activeClass = 'show-panel',
    containerSelector = '.container'
  ) {
    super()

    if (isActive) {
      this.checkbox.click()
    }
    this.isActive = isActive

    const container = document.querySelector(containerSelector)
    this.content.addEventListener('click', ev => {
      // ev.preventDefault()
      this.isActive = !this.isActive

      console.log(this.isActive)

      if (this.isActive) {
        container.classList.add(activeClass)
      } else {
        container.classList.remove(activeClass)
      }

    })
  }
}

customElements.define('toggle-btn', ToggleBtn)

</script>

<style lang="scss">
  toggle-btn {
    display: block;
    &.hidden {
      display: none;
    }
    & > * {
      cursor: pointer;
    }

    @media (min-width: 1024px) {
      display: none;
    }
  }

  #trigger {
    display: none;

    & + label {
      height: 100%;
      display: grid;
      place-content: stretch;
      svg {
        height: 100%;
        padding: 1rem;
        color: white;
        transform: rotate3d(1, 0, 0, 0deg);
        transition: transform 500ms ease,
                    color 250ms ease;
      }
    }

    &:checked + label {
      svg {
        color: grey;
        transform: rotate3d(1, 0, 0, 180deg);
      }
    }
  }
</style>
