---
import BaseLayout from "./BaseLayout.astro";
import Reference from "../components/reference/reference.astro";
import Header from "../components/Header.astro";
import Toc from '../components/toc/toc.astro';
import NavigationBtn from "../components/NavigationBtn.astro";
import { MarkdownHeading } from "@astrojs/markdown-remark/dist/types";

type Props = {
  title?: 'en' | 'es',
  lang?: string,
  frontmatter: any,
  headings: MarkdownHeading[]
}
const { frontmatter, headings } = Astro.props

const title = frontmatter.title

const unfilteredDocs = await Astro.glob('../pages/docs/*.md')
const filteredDocs = unfilteredDocs.filter(d => !d.frontmatter.draft)
const currentDocIdx = filteredDocs.findIndex(d => d.url == Astro.url.pathname)
const prevDoc = currentDocIdx > 0 && filteredDocs[currentDocIdx - 1]
const nextDoc = currentDocIdx < filteredDocs.length && filteredDocs[currentDocIdx + 1]
---

<BaseLayout title={title}>
  <Header/>
  <Reference/>
  <main>
    <slot/>
    <div class="navigation">
      {prevDoc && <NavigationBtn direction="previous" doc={prevDoc}/>}
      {nextDoc && <NavigationBtn direction="next" doc={nextDoc}/>}
    </div>
  </main>
  <Toc headings={headings}/>
</BaseLayout>

<style is:global lang="scss">
:root {
  --ref-width: 200px;
  --header-height: 4rem;
  scroll-padding-top: var(--header-height);
  @media (max-width: 768px) {
    body, .container {
      height: unset;
      min-height: 100vh;
    }
  }
}
.container {
  display: grid;
  grid-template-columns: var(--ref-width) 1fr 300px;
  grid-template-rows: var(--header-height) 1fr;
  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr 300px;
    nav.refs {
      z-index: 50;
      width: var(--ref-width);
      position: fixed;
      padding-top: var(--header-height);
      top: 0;
      bottom: 0;
      left: -100%;
      transition: left 500ms ease;
    }

    &.show-panel {
      nav.refs {
        left: 0;
      }
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: var(--header-height) auto 1fr;

    nav.toc {
      grid-row: 2/3;
    }

    main {
      grid-row: 3/4;
    }

    header {
      position: sticky;
      top: 0;
      inset-inline: 0;
    }

  }
}

header {
  grid-row: 1/2;
  grid-column: 1/-1;
}

main {
  scroll-behavior: smooth;
  height: 100%;
  table {
    border-collapse: collapse;

    td {
      border: 2px solid black;
      padding: .25rem;
    }
  }
}

nav.refs, main, nav.toc {
  padding: 1rem;
  overflow-y: auto;
}

.navigation {
  display: grid;
  grid-template-rows: auto;
  grid-auto-flow: column;
  justify-content: space-around;
  align-content: stretch;
  gap: 2rem;
  margin-block: 2rem;
}
</style>
