---
import { MarkdownInstance } from 'astro'
const url = Astro.url.pathname.lastIndexOf('/') == Astro.url.pathname.length - 1
  ? Astro.url.pathname.substring(0, Astro.url.pathname.length - 1)
  : Astro.url.pathname

type Props = {
  docList: MarkdownInstance<Record<string, any>>[]
}

const { docList } = Astro.props

---

<nav class="refs">
  <h3>Reference</h3>
  {docList.map(d => {
    const isCurrentDoc = url == d.url
    return <span>
      <a class={isCurrentDoc ? 'current-doc' : '' } href={d.url}>
        {d.frontmatter.title || d.url}
      </a>
    </span>
  })}
</nav>

<style lang="scss">
  nav.refs {
    background-color: var(--bg-3);
  }

  h3 {
    text-align: center;
  }

  span {
    display: block;
    margin-block: .2rem;
    a {
      display: block;
      height: 100%;
      padding: .5rem 1rem;
      text-decoration: none;
      border-radius: var(--radius);
      &.current-doc {
        background-color: var(--hl-1);
        color: var(--platinum);
      }
    }
  }
</style>
